<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Arantar Web</title>
        <!-- CSS -->
        <link rel="stylesheet" href="/css/animate.min.css">
        <link rel="stylesheet" href="./css/template.css">
        <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
        <!--link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet"-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css" />
        <!-- BOOTSTRAP CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <style>
        header nav div.container div:last-child a{
            color: #fff;
        }
    </style>
    <body>
        <% include ../partials/modals %>
        <section class="logo">
            <video src="./video/Web_Design_video_background.mp4" autoplay loop poster="posterimage.jpg"></video>
            <% include ../partials/header %>
            <!--i class="fa fa-spinner fa-spin"></i-->
            <div class="container d-flex align-items-center" style="height: 75vh; position:relative; z-index: 2">
                <div class="row">
                    <div class="col-6">
                        <h4 style="color: #FFC914;">Servicios de</h4>
                        <h1 class="tit-principal">DISEÑO WEB</h1>
                    </div>
                    <div class="col-5 offset-md-1">
                        <h2 style="position: absolute; color: #fff; font-weight: 700; font-size: 5em; bottom: 17px;right: -623px;">2018</h2>
                        <img src="./img/dots.png" alt="" style="position: absolute; left: 207px; opacity: .2">
                        <img src="./img/dots.png" alt="" style="position: absolute; left: 625px; opacity: .2">
                        <img src="./img/dots.png" alt="" style="position: absolute; left: 416px; opacity: .2">
                        <!--img src="./img/dots.png" alt="" style="position: absolute; left: 224px; top:209px;">
                        <img src="./img/dots.png" alt="" style="position: absolute; left: 625px; top:209px;">
                        <img src="./img/dots.png" alt="" style="position: absolute; left: 416px; top:209px;"-->
                    </div>
                </div>
            </div>
        </section>

        <!--section>
            <div class="box no-padding" id="diseños">
                <img src="./img/edward.png" alt="Card image cap" style="position: absolute;top: -480px;right: 229px;">
                <div class="etiqueta top-left yellow">
                    <h5><b>DISEÑOS</b></h5>
                </div>
                <div class="row si-padding">
                    <div class="col-4 no-padding">
                        <img src="./img/dc.jpg">
                    </div>
                    <div class="col-4 no-padding">
                        <img src="./img/jimi-hendrix.jpg">
                    </div>
                    <div class="col-4 no-padding">
                        <img src="http://via.placeholder.com/500x500">
                    </div>
                    <div class="col-4 no-padding">
                        <img src="http://via.placeholder.com/500x500">
                    </div>
                    <div class="col-4 no-padding">
                        <img src="http://via.placeholder.com/500x500">
                    </div>
                    <div class="col-4 no-padding">
                        <img src="http://via.placeholder.com/500x500">
                    </div>
                </div>

            </div>
        </section-->

        <!--section>
            <div class="box" id="sobre-mi">
                <div class="etiqueta top-left yellow">
                    <h5><b>SOBRE MÍ</b></h5>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h1 style="color: #fff;"><b>Diseños</b></h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. </h3>
                            <br>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="col-6">
                            <img src="./img/edward.png" alt="Card image cap" style="position:absolute; bottom: -100px; right: -65px">
                        </div>
                    </div>
                </div>
            </div>
        </section-->

        <!--section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <!--h4 style="color: #FFC914;">Estudios</h4-->
                        <!--h1 class="tit-principal"><!--i class="fas fa-paint-brush"></i--> <!--b>DISEÑO GRÁFICO</b></h1>
                    <!--/div>
                    <div class="col-md-6 col-sm-12">
                        <!--h4 style="color: #FFC914;">Estudios</h4-->
                        <!--h1 class="tit-principal"><!--i class="fas fa-code"></i--> <!--b>DESARROLLO WEB</b></h1>
                    <!--/div>
                </div>
            </div>
        </section-->

        <section>
            <div class="box">
                <div class="box-ico">
                    <i class="far fa-clock"></i>
                </div>
                <div class="etiqueta top-left yellow">
                    <h5><b>ESTUDIOS</b></h5>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <h3>Lic. en Diseño Gráfico</h3>
                            <h1><b>Facultad de Arquitectura, Diseño y Urbanismo</b></h1>
                        </div>
                        <div class="col-6">
                            <img src="./img/fadu.png" alt="Card image cap" style="position:absolute; top: -255px; right: -65px;">
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <footer>
            <div class="container">
                <a href="/" class="logo">LEANDRO ARANGUEZ</a>
                <div class="enlaces">
                    <a href="#" class="active."><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </footer>



        <script src="./js/ready.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>
        <!-- BOOTSTRAP JS -->


        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
