<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Web | Inicio</title>
        <!-- CSS -->
        <link rel="stylesheet" href="/css/animate.min.css">
        <link rel="stylesheet" href="./css/template.css">
        <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css" />
        <!-- BOOTSTRAP CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <style>
        header nav div.container div:last-child a{
            color: #fff;
        }
    </style>
    <body>
        <% include ../partials/modals %>

        <section class="logo">
            <% include ../partials/header %>
            <div class="container">
                <img src="/img/logo-arantar-web.svg" alt="dsadsa" class="animated fadeIn" uk-parallax="viewport:1; y:100">
                <span class="triangulo-1" uk-parallax="viewport:0.7; y:-100"></span>
                <span class="triangulo-2" uk-parallax="viewport:0.9; y:-50"></span>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <div class="web-cam">
                            <video poster="./img/cover-video.jpg" autoplay loop >
                                <source src="./video/Web_Design_video_background.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                    <div class="col-8">
                            <div class="col-12">
                                <h1><b>Front End</b></h1>
                            </div>
                            <div class="col-6">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                    </div>
                </div>
            </div>
        </section>

        <section style="background-color: #f0d940">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <h1><b>Este sitio web fue creado con las siguientes tecnologias</b></h1>
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col-4">
                                <div class="circulo"></div>
                            </div>
                            <div class="col-4">
                                <div class="circulo"></div>
                            </div>
                            <div class="col-4">
                                <div class="circulo"></div>
                            </div>
                            <div class="col-4">
                                <div class="circulo"></div>
                            </div>
                            <div class="col-4">
                                <div class="circulo"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="web-cam2">
                            <video poster="./img/cover-video.jpg" autoplay loop >
                                <source src="./video/Web_Design_video_background.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <script src="./js/ready.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>
        <!-- BOOTSTRAP JS -->


        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
