
<header>
    <div class="container">
        <nav>
            <a href="/" class="logo">LEANDRO ARANGUEZ</a>
            <div class="enlaces">
                <a href="/" class="active.">INICIO</a>
                <!--a href="#diseños">DISEÑOS</a-->
                <!--a href="#sobre-mi">SOBRE MÍ</a-->
                <a href="#" data-toggle="modal" data-target="#loginModal">CONTACTO</a>
            </div>
        </nav>
    </div>
</header>
